body{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
main{
    display: flex;
    flex-direction:row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
    color:black;
}
aside{
    flex: 1;
    overflow-y: auto;
}
.logo{
    font-size:25px;
    color:bisque;
}